<!-- HEADER / NAVBAR -->
<header class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark border-light-subtle shadow-sm">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" routerLink="/">
      <img src="/assets/logo_md_t.png" alt="HermesAI logo" width="32" height="32" />
      <span class="text-white-50 navbar-brand">HermesAI</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center">
        <li class="nav-item" *ngIf="isBetaAccessEnabled"><a class="nav-link" href="/terminal.html" target="_blank">Terminal</a></li>
        <li class="nav-item" *ngIf="isBetaAccessEnabled"><a class="nav-link" href="https://chatgpt.com/g/g-67659602f22c81919da3c6b22b96658c-hermesai-preview" target="_blank">HermesGPT</a></li>
<!--        <li class="nav-item"><a class="nav-link" routerLink="/pricing">Pricing</a></li>-->
<!--        <li class="nav-item"><a class="nav-link" routerLink="/docs">Docs</a></li>-->
<!--        <li class="nav-item"><a class="nav-link" routerLink="/login">Login</a></li>-->
        <li class="nav-item ms-lg-3">
          <a class="btn btn-gradient px-3 py-1 fw-semibold" routerLink="/early-access">Get Started Free</a>
        </li>
      </ul>
    </div>
  </div>
</header>

<div>
  <router-outlet></router-outlet>
</div>

<!--FOOTER-->
<footer class="py-4 border-top border-light-subtle bg-dark text-white-50">
  <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center gap-3">
    <div class="d-flex align-items-center">
      <img src="/assets/logo_md_t.png" alt="HermesAI logo" width="24" height="24" class="me-2" />
      <span>© 2025 HermesAI</span>
    </div>
<!--    <div class="d-flex gap-3 small">
      <a routerLink="/about" class="text-reset">About</a>
      <a routerLink="/docs" class="text-reset">Docs</a>
      <a routerLink="/privacy" class="text-reset">Privacy</a>
      <a routerLink="/terms" class="text-reset">Terms & Conditions</a>
      <a routerLink="/contact" class="text-reset">Contact</a>
    </div>-->
  </div>
</footer>
