<!-- HEADER / NAVBAR -->
<header class="navbar navbar-expand-lg navbar-dark bg-dark border-light-subtle shadow-sm">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" routerLink="/">
      <img src="/assets/logo_md_t.png" alt="HermesAI logo" width="32" height="32" />
      <span class="text-white-50 navbar-brand">HermesAI</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center">
        <li class="nav-item" *ngIf="isBetaAccessEnabled"><a class="nav-link" href="/terminal.html" target="_blank">Terminal</a></li>
        <li class="nav-item" *ngIf="isBetaAccessEnabled"><a class="nav-link" href="https://chatgpt.com/g/g-67659602f22c81919da3c6b22b96658c-hermesai-preview" target="_blank">HermesGPT</a></li>
<!--        <li class="nav-item"><a class="nav-link" routerLink="/pricing">Pricing</a></li>-->
<!--        <li class="nav-item"><a class="nav-link" routerLink="/docs">Docs</a></li>-->
<!--        <li class="nav-item"><a class="nav-link" routerLink="/login">Login</a></li>-->
        <li class="nav-item ms-lg-3">
          <a class="btn btn-gradient px-3 py-1 fw-semibold" routerLink="/early-access">Get Started Free</a>
        </li>
      </ul>
    </div>
  </div>
</header>

<div>
  <router-outlet></router-outlet>
</div>
